* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bck-card :#0f0e17;
    --title-color:#e53170;
    --email-color:#26c8ed;
    --paragraf-color:#110f2b;
}

body {
    background-color: blue;
}

header , main {
    max-width: 1170px;
    width: 80%;
    margin:auto
}

.card {
    float: left;
    width: calc(100% / 3);
    background-color: var(--bck-card);
    color: white;
}


.clearfix::after {
    display: table;
    clear: both;
    content: "";
}

h1 {
    margin-top: 30px;
    color: var(--title-color);
}

p {
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(--paragraf-color);
}

img {
    max-width: 100px;
    float: left;
    margin-right: 1rem;
}

.bio {
    padding-top: 10px;
    display: block;
}

a {
    color: var(--email-color);
    text-decoration: none;
}






